documentación/
# Dependencias (Las carpetas más pesadas, no se suben)
node_modules/
backend/node_modules/
frontend/node_modules/

# Variables de entorno (Secretos, contraseñas, llaves de API)
.env
.env.local
backend/.env

# Archivos del Sistema Operativo y Editores
.DS_Store
Thumbs.db
.vscode/
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
